CompileFlags:
  Add:
    - "-std=c++20"
    - "-I./core/hpp"
    - "-I./core/test"
    - "-I./googletest/googletest/include"
    - "-I./googletest/googletest"
    - "-I./googletest/googlemock/include"
    - "-I./googletest/googlemock"
